<form class="form-horizontal" role="form" ng-submit="vm.addBoard()">
  <div class="form-group">
    <label class="control-label col-sm-2">Size:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" placeholder="Enter size of the board" ng-model="vm.board.size">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Go!</button>
    </div>
  </div>
</form>
