<link rel="stylesheet" href="../app/font-awesome/css/font-awesome.min.css">
<div style="width: 100%">
  <div style="max-width: 600px;margin: auto;width: 50%;padding: 20px">
    <div class="row"  ng-repeat="i in vm.array">
        <div ng-repeat="j in vm.array">
            <div id="{{(i)*vm.array.length + j}}" class="cell" ng-click="vm.cellClick((i)*vm.array.length + j)"></div>
          </div>
    </div>
    <div class="row">
      <p id="result-p" style="margin-top: 20px;width: 100px;height: 20px"></p>
    </div>
    <div class="row">
      <input class="btn btn-default" style="margin-top: 20px;width: 100px" type="button" ng-click="vm.resetGame()" value="Reset">
    </div>
  </div>
</div>
