
.cell {
  background-color: whitesmoke;
  height: 50px;
  width: 50px;
  float: left;
  cursor: pointer;
  text-align: center;
  line-height: 50px;
  font-size: 24px;
  margin: 1px;
  border: 1px double black;
  border-radius: 5px;
  transition: all 1s;
}

.cell:hover {
  background-color: #398439;
}

.cell.pre-animation {
  opacity:0.5;
  font-size:1px !important;
}

.occupied {
}

.X {
  color: blue;
}

.O {
  color: red;
}
